{% extends 'base.html' %}

{% block header %} 
{{user.first_name}} {{user.last_name}}
{% endblock %}

{% block content %}
<div class="col">
    <img src="{{user.img_url}}" class="img-thumbnail" alt="user image">
</div>
<div class="col d-flex align-items-end">
    <form action="/users/{{user.id}}/delete" method="post">
        <a href="/users" class="btn btn-outline-secondary">Cancel</a>
        <a href="/users/{{user.id}}/edit" class="btn btn-success">Edit</a>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
{% endblock %}