{% extends 'base.html' %}

{% block header %}
Create a User
{% endblock %} 

{% block content %}
<div class="col">
    <form action="/users/new" method="POST">
        <div class="mb-3">
            <label for="f_name" class="form-label">First Name</label>
            <input type="text" name="f_name" id="f_name" class="form-control" placeholder="Enter a first name" required>
        </div>
        <div class="mb-3">
            <label for="l_name" class="form-label">Last Name</label>
            <input type="text" name="l_name" id="l_name" class="form-control" placeholder="Enter a last name" required>
        </div>
        <div class="mb-3">
            <label for="i_url" class="form-label">Image URL</label>
            <input type="url" name="i_url" id="i_url" class="form-control" placeholder="Provide an image of this user">
        </div>
        <a href="/users" class="btn btn-outline-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>    
</div>
{% endblock %}  