{% extends 'base.html' %}


{% block header %}
<div class="col">
    <h1>Edit a tag</h1>
</div>
{% endblock %}


{% block content %}
<div class="col">
    <form action="/tags/{{tag.id}}/edit" method="post">
        <div class="mb-3">
            <label for="t_name" class="form-label">Tag Name</label>
            <input type="text" name="t_name" id="t_name" class="form-control" value="{{tag.name}}" required>
        </div>  
        <a href="/tags" class="btn btn-outline-secondary">Cancel</a>
        <button class="btn btn-success">Save</button>
    </form>
</div>
{% endblock %}

